.menuCategory {
	position: relative;
	height: 60px;
	max-height: 60px;
	background-color: var(--colorBackgroundPrimary);
	border-radius: 15px;
	margin-right: 10px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&.active {
		background-color: hsl(var(--colorBrandPrimary));

		.title {
			color: white;
		}
	}

	> .title {
		width: max-content;
		min-width: 60px;
		max-width: 260px;
		font-size: 13px;
		font-variation-settings: 'wdth' 75, 'wght' 500;
		text-align: center;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-transform: capitalize;
		margin: 0 20px;
		color: var(--colorContentPrimary);
	}
}

@media (width <= 750px) {
	.menuCategory {
		height: 45px;
    	max-height: 45px;

		> .title {
			font-size: 12px;
			margin: 0 15px !important;
		}
	}
}

@media (width <= 530px) {
	.menuCategory {
		height: 42px;
    	max-height: 42px;

		> .title {
			font-size: 11px;
			margin: 0 12px !important;
			font-weight: 500;
		}
	}
}